#about {
  // overflow-x: hidden;
  width: 90%;

  .about {
    // margin-top: 1%;

    .content-windowpane {
      min-height: 70vh;
      max-height: 78vh;
      padding: 3% 6%;
      margin: auto;

      h2 {
        font-size: 1.3rem;
        letter-spacing: 1px;
        text-decoration: underline;
        padding-top: 1.2rem;
      }

      h1 {
        font-size: 2.5rem;
        padding-top: 0rem;
      }

      .header {
        padding-left: 0;
      }

      .content-windowpane-top {
        margin: 0;
      }

      .about-photo-container {
        display: flex;
        // flex-direction: row;
        justify-content: space-between;
        height: 40vh;
        width: 80vw;
      }

      .content {
        font-size: 1.2rem;
        text-align: left;
        min-width: 40%;
        max-width: 55%;
      }

      .photo {
        margin-top: -4%;
        margin-right: 3.5%;
        img {
          max-height: 105%;
          max-width: 120%;
        }
      }

      .favs-container {
        margin-top: 1em;
      }

      .current-favs {
        text-align: left;
        width: 70%;
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 1.7rem;
        font-size: 1rem;

        .favs-content {
          margin-bottom: 0;
          font-weight: bold;
        }
        .favs-header {
          margin-top: 0;
          margin-bottom: 0;

          color: #8c8c8c;
        }
      }
    }
  }
}
