@import "./variables.scss";

nav {
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  background-color: $background-color-dark;
  color: $font-color-dark;
  font-weight: $regular;
  font-size: 0.85rem;
  height: 2.5rem;
  li {
    list-style-type: none;
    padding: 0% 10%;
  }

  a {
    color: $font-color-dark;
  }

  a:hover,
  a:focus {
    color: $font-color-dark;
    font-weight: $bold;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
  width: max-content;
  padding: 0% 1%;
  margin: 0% 1%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  // border: 1px solid $font-color-dark;
  text-align: center;
  // padding: 2rem 1rem;

  li {
    // border: inherit;
    margin: 0% 3px;
  }
}
