// ******* COLOR SCHEME VARIABLES  ******* 
$navbar-background-color-dark: #7C678B; 
$background-color-dark: #413C4F;
$footer-background-color-dark: #111015;
$base-color-dark: #211E28;
$font-color-dark: #FFFFFF;
$font-hover-color: #CD6D00;
$hyperlink-color: #E2AB00;

// ****** FONT VARIABLE WEIGHTS ********
// DM SANS

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold:600;
$bold: 700;
$extra-bold: 800;
$black: 900;
$super-black: 1000;