.window-container {
  background-color: $footer-background-color-dark;
  height: 320px;
  width: 600px;
  // width: 110rem;
  // height: 32rem;
  // width: rem(1100);
  border-radius: 23px;
  border: 2px solid #d9d9d9;
}

.toolbar {
  background-color: #d9d9d9;
  position: relative;
  height: 43px;
  vertical-align: middle;
  //   border: 2px solid #d9d9d9;
  border-top-left-radius: 20px;
  // border-top-left-radius: 3.5rem;
  border-top-right-radius: 20px;

  .quick-action-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 4%;
    gap: 20px;
  }

  .quick-action-button {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    // margin: 0% 1%;

    &:nth-of-type(1) {
      background-color: #d86b6b;
    }
    &:nth-of-type(2) {
      background-color: #dfae00;
    }
    &:nth-of-type(3) {
      background-color: #32c000;
    }
  }
}
