.window-container {
  background-color: $footer-background-color-dark;
  height: 320px;
  width: 600px;
  // width: 110rem;
  // height: 32rem;
  // width: rem(1100);
  border-radius: 23px;
  border: 2px solid #d9d9d9;
  box-shadow: 0.9rem 0.95rem $box-shadow-color-purple;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #d9d9d9;
  position: relative;
  height: 41px;
  margin: 0;
  vertical-align: middle;
  // border: 2px solid #d9d9d9;
  border-top-left-radius: 20px;
  // border-top-left-radius: 3.5rem;
  border-top-right-radius: 20px;

  .quick-action-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 4%;
    gap: 20px;
  }

  .quick-action-button {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    // margin: 0% 1%;

    &:nth-of-type(1) {
      background-color: #d86b6b;
    }
    &:nth-of-type(2) {
      background-color: #dfae00;
    }
    &:nth-of-type(3) {
      background-color: #32c000;
    }
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-left: 0.2em;

    .nav-button {
      height: 25px;
      width: 25px;
      border-radius: 5px;
      background-color: #f5f5f5;
      color: #747474;
    }
  }
}

.content-windowpane-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2% 7%;
  font-size: 0.95em;

  .arrow-icon > img {
    padding-left: 3px;
    height: 0.77em;
    transform: translateY(1px);
    transition: filter 3s ease-in-out;
  }

  &:hover {
    img {
      content: url('src/assets/arrow-icon-hover.svg');
    }
    filter: brightness(0) saturate(100%) invert(46%) sepia(62%) saturate(3691%)
      hue-rotate(16deg) brightness(95%) contrast(101%);
  }
}

.content-windowpane-top {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5%;
  padding-left: 7%;
  font-family: 'DM Serif Display', serif;

  .name {
    font-size: 2.3em;
  }

  .name-guide {
    font-style: italic;
  }

  .vol-icon {
    border-width: 0;
    background-color: inherit;
    cursor: pointer;
    transform: translateY(3px);

    img {
      height: 1.3em;
    }
  }
}
