.window-container {
  background-color: $footer-background-color-dark;
  border-radius: 23px;
  border: 2px solid #d9d9d9;

  &.nameCard {
    height: 320px;
    width: 600px;
    box-shadow: 0.9rem 0.95rem $box-shadow-color-purple;
    z-index: 2;

    .name-guide {
      font-style: italic;
    }
    .content-windowpane-bottom {
      padding: 2.5% 7%;
    }
  }

  &.professionCard {
    height: 250px;
    width: 500px;
    box-shadow: 0.9rem 0.95rem $box-shadow-color-blue;
    z-index: 4;
    position: relative;
    top: -150px;
    right: -350px;
    .name {
      font-size: 1.5rem;
    }
    .name-guide {
      font-family: 'DM Sans', serif;
      width: 70%;
      text-align: left;
    }
    .content-windowpane-top {
      height: 45%;
    }
  }

  // width: 110rem;
  // height: 32rem;
  // width: rem(1100);
}

.content-windowpane-top {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5%;
  padding-left: 7%;
  font-family: 'DM Serif Display', serif;

  .name {
    font-size: 2.3em;
    padding-bottom: 1.5%;
  }

  .vol-icon {
    border-width: 0;
    background-color: inherit;
    cursor: pointer;
    transform: translateY(3px);

    img {
      height: 1.3em;
    }
  }
}

.content-windowpane-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2% 7%;
  font-size: 0.95em;

  .arrow-icon > img {
    padding-left: 3px;
    height: 0.77em;
    transform: translateY(1px);
    transition: filter 3s ease-in-out;
  }

  &:hover {
    img {
      content: url('src/assets/arrow-icon-hover.svg');
    }
    filter: brightness(0) saturate(100%) invert(46%) sepia(62%) saturate(3691%)
      hue-rotate(16deg) brightness(95%) contrast(101%);
  }
}
